<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MDEditer</title>
  <link rel="stylesheet" href="MDEditer.css">
  <script src="https://cdn.staticfile.org/marked/0.5.0/marked.min.js"></script>
  <script src="https://cdn.staticfile.org/lodash.js/4.17.10/lodash.min.js"></script>
  <script src="https://cdn.staticfile.org/vue/2.5.17-beta.0/vue.min.js"></script>
  <script src="MDEditer.js"></script>
</head>

<body>
  <div id="editor">
    <div class="toolbar">
      <input type="text" v-model="title" placeholder="输入标题">
      <update-button :sotitle="title" :content="input"></update-button>
      <div class="pics" :class="{ active: isActive }" @dragover.stop.prevent="dragOver" @dragleave.stop.prevent="dragLeave" @drop.stop.prevent="addPics">
        <img v-for="pic in picsList" :alt="pic" :src="pic.dataURL" />
      </div>
    </div>
    <textarea :value="input" @input="update"></textarea>
    <div id="preview" v-html="compiledMarkdown"></div>
  </div>
</body>

</html>