<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MDEditer</title>
  <link rel="stylesheet" href="MDEditer.css">
  <script src="https://cdn.staticfile.org/marked/0.5.0/marked.min.js"></script>
  <script src="https://cdn.staticfile.org/lodash.js/4.17.10/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
</head>

<body>
  <div id="editor">
    <div class="toolbar">
      <input type="text" v-model="title" placeholder="输入标题">
      <update-button :article-title="title" :content="input"></update-button>

      <my-gallery @click.native.right.prevent="img2md" @refreshArticle="input = $event" :content="input"></my-gallery>
    </div>
    <div class="progress" :style="{ left: progress + '%' }"></div>
    <div class="writing">
      <button class="clrAll" @click="clrAll">clrAll</button>
      <textarea :value="input" @input="update"></textarea>
      <div id="preview" v-html="compiledMarkdown"></div>
    </div>
  </div>
  <script type="text/x-template" id="my-gallery">
    <div class="pics" :class="{ active: isActive }" @mousedown.prevent="initX" @mousemove.prevent="moveX" @mouseup.prevent="endX" @mouseleave="endX" @dragover.stop.prevent="dragOver" @dragleave.stop.prevent="dragLeave" @drop.stop.prevent="addImg">
      <div class="imgs" :style="{ left: imgsOffset.left + 'px' }">
        <img class="gallery" v-for="(info, name) in picsList" :key="name" :alt="name" :src="info.src"  @dblclick="delImg" />
      </div>
    </div>
  </script>
  <script src="MDEditer.js"></script>
</body>

</html>